body{
    background-color: aliceblue;
}

.cabecalho-principal {
    width: 819;
    padding: 59;
    text-align: ;
}

.cabecalho-principal{
    background-color: ;
    font-family: ;
    font-size: ;
    font-weight: 
    color

}